#containernome{

    height: 8em;
    width: 25em;
    border-radius: 10px;
    display: flex; 
    width: 90%;
    margin: 2% 5%;
    height: 4em;
    font-size: 5px;
}



.nomem{
    flex-grow: 2;
}

.caixa {
    flex-grow: 1;
}



